# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore OS-specific files
.DS_Store

# Ignore environment files
.env

# Ignore log files
*.log

# Shared directory, should be handled by volumes
../shared/ 